body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    position: relative; 
    background-color: #ffffff; /* Standaard achtergrondkleur */
    color: #000000; /* Standaard tekstkleur */
}

 /* Dark mode */
 body.dark-mode {
    background-color: #070707; /* Achtergrondkleur voor dark mode */
    color: #ffffff; /* Tekstkleur voor dark mode */
}

body.dark-mode .subpages li a {
color: #ffffff; /* Tekstkleur van de linkjes in dark mode */
}

body.dark-mode .dark-mode-button {
color: #ffffff; /* Kleur van het icoontje in dark mode */
}

body.dark-mode .music-button {
color: #ffffff; /* Kleur van het icoontje in dark mode */
}


.container {
    display: flex;
    height: 100vh;
}

.left-column {
    flex: 1;
    background-color: inherit; /* Overneem de achtergrondkleur van body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-column {
    flex: 1;
    background-color: inherit; /* Overneem de achtergrondkleur van body */
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpages {
    font-size: 2vw; 
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.subpages li {
    margin-bottom: 1.5vw; 
    transition: font-weight 0.3s ease;
}

.subpages li a {
    text-decoration: none; 
    color: black;
}

.subpages li:first-child a {
font-weight: bold;
}


.subpages li:hover,
.subpages li.active {
    font-weight: bold;
}

img {
    width: 50%; 
    height: auto;
    transition: transform 0.3s ease; 
    cursor: pointer; 
}

.site-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 2vw; 
    color: black;
}

.music-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0; 
    background-color: transparent; 
    color: #000000;
    border: none; 
    cursor: pointer;
    font-size: 1.5em; 
}

.og-site-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1vw; 
    color: black;
    text-decoration: none; 
}

body.dark-mode .og-site-link {
color: #ffffff; /* Tekstkleur van de linkjes in dark mode */
}

body.dark-mode .site-title {
    color: #ffffff; /* Tekstkleur van de linkjes in dark mode */
    }

.linkjes-content {
display: none;
text-align: center;
font-size: 1.5vw;
}

.link-img {
width: 80%;
height: auto;
margin-top: 60px;
margin-bottom: 5px; /* Decreased margin to make the text closer to the image */
transition: transform 0.3s ease; /* Added transition effect */
}

.linkjes-content p {
margin-top: 0px;
margin-bottom: 10px; /* Adjusted margin between image and text */
font-weight: normal; /* Default font weight */
transition: font-weight 0.3s ease; /* Added transition effect */
}

.linkjes-content .link-img {
width: 80%;
height: auto;
margin-bottom: 5px; /* Decreased margin to make the text closer to the image */
transition: transform 0.3s ease; /* Added transition effect */
}

.linkjes-content .link-img:hover + p {
font-weight: bold; /* Apply bold font weight to the text below the hovered image */
}

.linkjes-content .link-img:hover {
transform: scale(1.1); /* Enlarge image on hover */
}

/* Dark mode icoon */
.dark-mode-button {
    position: absolute;
    top: 10px;
    right: 50px; /* Aangepaste positie */
    padding: 0; 
    background-color: transparent; 
    color: #000000;
    border: none; 
    cursor: pointer;
    font-size: 1.5em; 
}